@{
	ViewBag.Name = "SubCategory";
}
<style>
	a .Image-Hover {
		position: absolute;
		display: none;
		z-index: 99;
		transform: scale(0);
		overflow: hidden;
	}

	a:hover .Image-Hover {
		display: block;
		transform: translate(-30%, -160%) scale(1.5);
		border-radius: 10px;
	}
</style>
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<!--Alert-->
			@if (TempData["Message"] != null)
			{
				if (TempData["Message"].ToString().Contains("Successfully"))
				{
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<span class="alert-icon"><i class="ni ni-like-2"></i></span>
						<span class="alert-text"><strong>Success! </strong>@TempData["Message"]</span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				}
				else
				{
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<span class="alert-icon"><i class="ni ni-like-2"></i></span>
						<span class="alert-text"><strong>Warning! </strong>@TempData["Message"]</span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				}
			}
			<!--Alert Over-->

			<div class="card shadow mb-5">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">@ViewBag.Name</h3>
						</div>
						<div class="col-4 text-right">
							<a asp-area="SubCategory" asp-controller="SubCategory" asp-action="SubCategoryAddEdit">
								<button class="btn btn-icon btn-primary" type="button">
									<span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
									<span class="btn-inner--text">Add Record</span>
								</button>
							</a>
						</div>
					</div>
				</div>
				@if (ViewBag.SubCategory == "Null")
				{
					<h2 style="margin-left:2.5rem; margin-bottom:1.5rem">No Record Found!</h2>
				}
				else
				{
					<div class="table-responsive">
						<table class="table align-items-center table-flush text-center">
							<thead class="thead-light">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Name</th>
									<th scope="col">Code</th>
									<th scope="col">Category</th>
									<th scope="col">Image</th>
									<th scope="col">Created</th>
									<th scope="col">Modified</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var data in Model)
								{
									<tr>
										<td>@data.SubCategoryID</td>
										<td>@data.SubCategoryName</td>
										<td>@data.SubCategoryCode</td>
										<td>@data.CategoryName</td>
										<td>
											<a href="#">
												Hover For View
												<span class="Image-Hover">
													<img height="100" width="100" src="~/Images/SubCategory/@data.ImageURL" alt="image" height="150" />
												</span>
											</a>

										</td>
										<td>@data.Created.ToString("dd-MM-yyyy")</td>
										<td>@data.Modified.ToString("dd-MM-yyyy")</td>
										<td>
											<a asp-action="SubCategoryEdit" asp-route-id=@Convert.ToInt64(data.SubCategoryID) class="btn btn-icon btn-primary" type="button" title="Edit">
												<span class="btn-inner--icon"><i class="ni ni-settings-gear-65"></i></span>
											</a>
											<a asp-action="SubCategoryDelete" asp-route-id=@Convert.ToInt64(data.SubCategoryID) class="btn btn-icon btn-danger" type="button" title="Delete">
												<span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
											</a>
										</td>
									</tr>

								}

							</tbody>
						</table>
					</div>
				}
			</div>
		</div>
	</div>


</div>